.formBackground {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.leftBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-blue-color);
  width: 38.25%;
  max-width: 590px;
  height: 100%;
}

.loginForm {
  display: flex;
  margin: 3rem auto;
  width: 95%;
  max-width: 50rem;
  box-shadow: 2px 2px 30px 2px var(--shadow);
  align-self: center;
  height: 71.4%;
  max-height: 540px;
  z-index: 1;
}

.sideImage {
  background-color: var(--main-blue-color);
  width: 40%;
  display: flex;
  align-items: center;
}

.sideImage img {
  width: 219px;
  display: flex;
  margin-top: 50%;
}

.sideImage p {
  margin-top: 12px;
  color: var(--page-background);
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.auth {
  width: 100%;
  max-width: 60rem;
  background-color: var(--page-background);
  padding: 5rem 3.5rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: var(--secondary-300);
  margin-bottom: 25px;
}

.inputSections {
  overflow-y: scroll;
  height: 230px;
  padding-right: 10px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: var(--secondary-300);
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-align: left;
}

.control a {
  display: block;
  color: var(--page-background);
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.control input {
  font: inherit;
  background-color: transparent;
  color: inherit;
  border-radius: 4px;
  border: 1px solid var(--shadow);
  width: 100%;
  text-align: left;
  padding: 0.75rem 0.5rem;
}

.control input:focus {
  border-color: var(--main-blue-color);
  outline: 2px solid var(--main-blue-color);
}

.control input::placeholder {
  color: var(--secondary-200);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: var(--page-background);
  background-color: var(--main-purple-color);
  border: 1px solid var(--main-purple-color);
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.action .toggle {
  width: 65%;
  padding: 12px 15px;
  border-radius: 3px;
  border: none;
  margin-top: 25px;
  background-color: var(--main-blue-color);
  color: var(--page-background);
  font-size: 14px;
}

.action .toggle:hover {
  cursor: pointer;
  background-color: var(--main-blue-color-2);
}

.control a,
.control p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 13px;
  color: var(--secondary-300);
}

.control a {
  display: inline;
  color: var(--main-blue-color);
}

.control a:hover {
  color: var(--main-blue-color-2);
}

.control p {
  margin-bottom: 120px;
}

.authError {
  font-size: 14px;
  padding: 0;
  margin: -18px 0 18px 0;
  color: var(--required-color);
  text-align: left;
}

.inputSections::-webkit-scrollbar {
  width: 10px;
  margin-left: 30px;
}

.inputSections::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.inputSections::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color); 
  border-radius: 5px; 
}

.inputSections::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-blue-color-2);
  cursor: pointer;
}
