.detailsHeader {
  position: fixed;
  top: 80px;
  padding: 0 26px;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.detailsHeader h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0 0 15px;
}

.detailsHeaderActions {
  position: fixed;
  top: 98px;
  right: 1%;
  display: flex;
  justify-content: space-around;
  width: 60%;
  max-width: 700px;
  z-index: 1;
}

.detailsHeaderActions a {
  text-decoration: none;
  color: inherit;
  margin: 0 12px 0 8px;
}

.headerButton {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.headerButton p {
  margin: 0 12px 0 8px;
}

.headerButton:hover {
  cursor: pointer;
  color: #4558be;
}

.detailsSection {
  display: flex;
}

.bookDetails {
  width: 100%;
}

.sideInfoContainer {
  width: 400px;
  padding: 10px 0;
  border: 1px solid #e8e8e8;
  border-top-style: none;
  border-right-style: none;
  height: 100vh;
  font-size: 14px;
  color: #6b7280;
}

.sideInfoBookData {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px;
}

.sideInfoBookData .bookAmount {
  padding: 6px 12px;
  border-radius: 16px;
  margin: 0 auto;
  color: rgba(1, 1, 1, 0.4);
  font-weight: 500;
}

.sideInfoContainer hr {
  margin: 25px 0 40px 0;
  opacity: 0.25;
}

.sideInfoNews {
  padding: 0 25px;
  color: #374151;
  line-height: 20px;
  margin-bottom: 40px;
}

.newsHeader {
  margin: 0;
  color: #6b7280;
}

.newsDate {
  font-size: 16px;
}

.newsBody {
  margin: 6px 0 8px 0;
}

.sideInfoNews a {
  text-decoration: none;
  color: #2196f3;
}

.mainDetailsContainer,
.specsContainer {
  font-size: 14px;
  padding: 42px 25px;
}

.mainDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.detailContainer {
  margin-bottom: 40px;
}

.detailContainer p {
  padding: 0;
  margin: 0;
  padding-bottom: 6px;
}

.mainDetailText {
  font-weight: 500;
}

.descriptionContainer {
  width: 55%;
  margin-right: 35px;
  line-height: 21px;
}

.descriptionContainer h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 6px 0;
}

.descriptionAnchor {
  color: #3b82f6;
}

.descriptionAnchor:hover {
  cursor: pointer;
}

.detailContainer .detailTitle,
.descriptionContainer h4 {
  color: #6b7280;
}

.bookErrorContainer {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 50%;
  text-align: center;
}

.bookErrorContainer img,
.bookErrorContainer p {
  margin: 0;
  margin-bottom: 6px;
}

.bookErrorContainer p {
  font-size: 15px;
  font-weight: 500;
}

.bookErrorContainer a {
  font-weight: 500;
  color: #3b82f6;
  margin-left: 15px;
  font-size: 15px;
  text-decoration: none;
}

.bookErrorContainer a:hover {
  color: #4558be;
}

.issueActionsHeader {
  width: 90%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.issueActionsHeader a {
  margin-left: 7px;
  padding: 2px 0;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.issueActionsHeader .actionButton {
  padding: 14px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.issueActionsHeader .actionButton:hover {
  background-color: #eff3f6;
  cursor: pointer;
}

.issueActionsHeader .actionButton:hover,
.issueActionsHeader .actionButton:hover p {
  color: #4558be;
}

.activeItem {
  background-color: #eff3f6;
  color: #4558be;
}

.errorText {
  font-size: 14px;
  padding: 0;
  margin: -10px 0 16px 0;
  color: red;
}

.reserveFormContainer,
.issueFormContainer {
  padding: 6px 30px;
  width: 60%;
}

.reserveFormContainer p,
.issueFormContainer p .bookReturnContainer p {
  margin-bottom: 0;
}

.reserveFormContainer form,
.issueFormContainer form {
  margin-top: 30px;
}

.reserveFormHeader,
.issueFormHeader {
  font-size: 20px;
}

.customInput {
  position: relative;
}

.customInput input {
  padding-right: 30px;
  padding-left: 10px; /* Create space for the calendar icon */
  width: 100%;
}

.customInput .calendarIcon {
  position: absolute;
  top: 40%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.reserveButtonsContainer,
.issueButtonsContainer,
.returnButtonsContainer {
  position: fixed;
  width: 90%;
  right: 330px;
  top: 100%;
}

.issueDatePickers {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.disabledInput {
  background-color: #f0f0f0;
  color: #b0b0b0;
}

.issueDurationText {
  font-size: 14px;
  margin: -16px 0 0 0;
}

.bookReturnContainer {
  padding: 6px 10px;
}

.bookReturnHeader {
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}
