.button {
  background-color: var(--main-blue-color);
  /* color: var(--page-background); */
  padding: 0.625rem 1.0625rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  border-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: .5s;
}

.button:hover {
  cursor: pointer;
  background-color: var(--main-blue-color-2);
}

.button img {
  margin: 0 0.9375rem 0 0;
  width: 0.7rem;
}

.button a,
.button p {
  margin: 0;
  padding: 0;
}

.button a {
  text-decoration: none;
  color: white;
}
