.contentHeader {
  position: sticky;
  top: 4.5rem;
  background-color: var(--page-background);
  z-index: 1;
}

.contentHeader h1,
.contentHeader p {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--secondary-300);
  padding: 1.64rem 1rem;
}

.contentHeader hr {
  opacity: 0.25;
  margin: 0;
}
