.dashboardContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem 1.25rem;
  background-color: var(--page-background);
}

.rightSection {
  width: 40%;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  margin-right: 2.1875rem;
}

.reservationsSection {
  margin-bottom: 2.1875rem;
}

.sectionHeader p {
  font-size: 1.1875rem;
  margin: 0 0 1.875rem 0;
  color: var(--main-text);
}

.sectionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionContent img,
.activityContainer img {
  border-radius: 50%;
}

.sectionUserInfo {
  display: flex;
  align-items: center;
  width: 12rem;
}

.sectionUserInfo a {
  font-weight: 500;
  margin-left: 0.5rem;
}

.reservationDate {
  background-color: var(--highlight);
  color: var(--main-text);
  padding: 0.1875rem 0.625rem;
  border-radius: 8px;
  width: 7rem;
  text-align: center;
}

.sectionActions {
  margin-right: 1rem;
}

.actionButton {
  margin-right: 0.375rem;
  font-weight: 500;
}

.reservationsContainer img {
  width: 2.1875rem;
}

.reservationsContainer hr {
  background-color: var(--hr);
  opacity: 0.25;
}

.reservationsContainer a {
  text-decoration: none;
  color: var(--main-text);
  width: 8rem;
}

.activityContainer {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 0.3125rem;
  color: var(--main-text);
  margin: 0 0 1.875rem 0;
}

.activityContainer img {
  margin-right: 1rem;
  width: 3.75rem;
}

.activityHeader {
  margin: 0;
  color: var(--main-text);
}

.activitynewsDate {
  font-size: 1rem;
}

.activityBody {
  margin: 0.625rem 0 0.5rem 0;
}

.activityContainer a {
  text-decoration: none;
  color: var(--light-blue-highlight);
}

.activityContainer a:hover {
  color: var(--light-blue-highlight-hover);
}

.activityFooterLink {
  text-decoration: none;
  color: var(--light-blue-highlight);
  display: inline-block;
  margin: 1rem 0 0 0.1875rem;
}

.activityButton {
  width: 100%;
  background-color: transparent;
  font: inherit;
  font-size: 0.9375rem;
  color: var(--main-text);
  padding: 0.5625rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--hr); 
}

.activityButton:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.sectionFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: var(--light-blue-highlight);
}

.sectionFooter p {
  margin: 0 0 0 0.37rem;
}

@media (max-width: 850px) {
  .dashboardContainer {
    display: block;
  }
}
