.cardContainer {
  background-color: var(--page-background);
  width: 13.125rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  box-shadow: 0px 0.3125rem 0.4375rem var(--shadow);
  position: fixed;
  z-index: 101;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.itemContainer:hover a {
  color: var(--dark-blue-highlight);
}

.itemContainer:hover img {
  filter: brightness(0.6);
}

.itemContainer a {
  font-size: 0.875rem;
  margin: 0.6875rem;
  color: var(--main-text);
  text-decoration: none;
}

.itemContainer img {
  height: 1rem;
  margin-right: 0.75rem;
}
