* {
  box-sizing: border-box;
}

.formContainer {
  width: 100%;
  padding: 2rem;
  position: relative;
}

.form {
  width: 80%;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  /* background-color: blue; */
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #4558be;
  border-color: transparent;
}

section {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

section.info {
  width: 100%;
}

section.image {
  width: 50%;
  margin: 1.5rem 2rem;
}

.userImageHolder {
  border: #eff3f6 solid 10px;
  height: 20rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #c2c2c2 0px 0px 5px inset;
}

.userImageHolder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fileInput {
  visibility: hidden;
  position: absolute;
}

.customFileInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #eff3f6;
  color: #333;
  /* border-radius: 5px; */
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

section.buttons {
  position: fixed;
  width: 15%;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: yellow; */
  align-items: flex-end;
}

.button {
  font-size: 1rem;
  width: 100%;
  min-width: 130px;
  padding: .7rem 1.3rem;
  margin: .5rem 0;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
}

#ponisti {
  background-color: rgb(255, 63, 63);
}

#ponisti:hover {
  background-color: rgb(228, 29, 29);
}

#sacuvaj {
  background-color: rgb(59, 173, 59);
}

#sacuvaj:hover {
  background-color: rgb(46, 143, 46);
}

.buttonIcon {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: 1.2rem;
  width: 1.2rem;
  /* background-color: black; */
}

.errorText {
  font-size: 14px;
  padding: 0;
  margin: -10px 0 16px 0;
  color: red;
}

.errorText:first-of-type {
  margin-top: -14px;
}

.reactQuillWrapper {
  max-width: 700px;
  width: 100%;
}

.reactQuill {
  /* Your custom styles for the React Quill editor */
  margin: 10px 0 63px 0;
  border-radius: 6px;
  height: 120px;
}

@media (max-width: 1205px) {
}
