.backgroundDim {
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.3);
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  display: flex; /* Use flexbox to center the spinner */
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's above other content */
}

.spinnerContainer {
  width: 25%;
  text-align: center;
  background-color: white; /* Assuming a white background for the spinner */
  padding: 20px;
  border-radius: 10px;
}

h4 {
  margin: 3px 0 0 0;
}
