.logoutContainer {
  width: 40%;
  box-shadow: 1px 1px 20px 1px var(--shadow);
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  margin-top: 75px;
}

.logoutContainer h1 {
  margin: 15px auto 35px auto;
}

.actions button {
  padding: 4px 16px;
  width: 30%;
  border-radius: 3px;
  border-color: transparent;
  font: inherit;
  font-weight: inherit;
  color: var(--page-background);
  background-color: var(--main-blue-color);
}

.actions button:hover {
  cursor: pointer;
  background-color: var(--main-blue-color-2);
}
