header {
  background-color: #4558be;
  color: #ffffff;
  padding: 2.25rem 0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header img:hover {
  cursor: pointer;
}

h1 {
  margin: 0 0 0 0.625rem;
  font-size: 1.375rem;
}

.logoContainer {
  background-color: #3f51b5;
  width: 17.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.logoContainer:hover {
  cursor: pointer;
}

.logoContainer img {
  width: 2.38rem;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 2.81rem;
  width: 15.625rem;
}

.userContainer img {
  background-color: #606fc7;
  padding: 0.45rem;
  border-radius: 50%;
  width: 2.8rem;
}

.userActions {
  display: flex;
  align-items: center;
}

.userActions img:first-of-type {
  margin-right: 0.9375rem;
}

.userContainer .headerAvatar {
  padding: 0.15rem;
}

.headerAvatar {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
