header {
  background-color: var(--header);
  color: var(--page-background);
  padding: 2.25rem 0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header img:hover {
  cursor: pointer;
}

h1 {
  margin: 0 0 0 0.625rem;
  font-size: 1.375rem;
}

.logoContainer {
  /* background-color: var(--main-blue-color-1); */
  width: 17.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logoContainer:hover {
  cursor: pointer;
}

.logoContainer img {
  width: 2.38rem;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 2.81rem;
  width: 17.625rem;
}

.userContainer img {
  background-color: var(--main-blue-color-1);
  padding: 0.45rem;
  border-radius: 50%;
  width: 2.8rem;
  transition: 0.4s;
}

.userContainer img:hover {
  background-color: var(--main-blue-color-2);
}

.userActions {
  display: flex;
  align-items: center;
}

.userActions img:first-of-type {
  margin-right: 0.9375rem;
}

.userContainer .headerAvatar {
  padding: 0.15rem;
}

.notificationAmount {
  position: absolute;
  z-index: 1;
  top: -17px;
  right: 115px;
  background-color: rgb(224, 61, 61);
  padding: 2.2px 6.4px;
  border-radius: 50%;
  font-size: 14px;
}

.headerAvatar {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
