.paginateContainer {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.paginationButtons {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #d4d2d4;
}

.paginationButtons a:hover {
  cursor: pointer;
}

.paginationActive a {
  color: #ffffff;
  background-color: #4558be;
  border-color: #4558be;
}
