.paginateContainer {
  margin: 2.1875rem 0;
  display: flex;
  justify-content: center;
}

.paginationButtons {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 0.625rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-200);
  color: var(--main-text);
  transition: .5s;
}

.paginationButtons a:hover {
  cursor: pointer;
  border-color: var(--main-blue-color);
}

.paginationActive a {
  color: var(--page-background);
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
}

.paginationOptions {
  display: flex;
  align-items: center;
}

.paginationOptions p {
  margin: 0 0.75rem 0 0;
  color: var(--main-text);
}

.paginationOptions select {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: none;
  background-color: var(--page-background);
  color: var(--main-text);
}

.paginationOptions select:hover {
  cursor: pointer;
}

.paginationOptions select:focus {
  border: transparent;
}

.customLabel {
  display: inline-block;
  width: 5rem;
  text-align: center;
  color: var(--main-text);
}