.profileContainer {
  padding: 2.5rem 1.5625rem;
  display: flex;
  width: 30%;
}

.profileContainer p {
  margin-top: 0;
  margin-bottom: 2.8125rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.profileContainer a {
  color: var(--light-blue-highlight);
  text-decoration: none;
}

.profileContainer img,
.profileContainer .errorText {
  margin: 0;
  padding: 0;
}

.profileImageBorder {
  border: 2px solid var(--secondary-200);
  padding: 0.4375rem;
  margin-left: 7.5rem;
}

.profileContainer .profileTitle {
  margin-bottom: 0.3125rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--secondary-300);
}

.profileActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 6.0625rem;
  right: 0;
  width: 25rem;
  z-index: 1;
  position: fixed;
}

.profileActions p {
  font-size: 0.875rem;
}

.profileActions a {
  text-decoration: none;
  color: inherit;
}

.profileButton {
  display: flex;
  align-items: center;
}

.profileButton:hover p {
  color: var(--light-blue-highlight);
  cursor: pointer;
}

.profileButton img {
  width: 1.2rem;
}

.profileButton img:last-child {
  width: 2.6rem;
}

.profileButton:hover img {
  filter: brightness(0.6);
  cursor: pointer;
}

.profileButton p {
  margin: 0 0 0 0.4375rem;
  padding: 0;
}

.profileErrorContainer {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 50%;
  text-align: center;
}

.profileErrorContainer img,
.profileErrorContainer p {
  margin: 0;
  margin-bottom: 6px;
}

.profileErrorContainer p {
  font-size: 15px;
}

.profileErrorContainer a {
  font-weight: 500;
  color: var(--light-blue-highlight);
  margin-left: 15px;
  font-size: 15px;
}

.profileErrorContainer a:hover {
  color: var(--light-blue-highlight-hover);
}
