.searchbarContainer {
  display: flex;
  align-items: center;
}

.searchbarContainer img {
  width: 1.35rem;
}

.searchbar {
  /* border: transparent; */
  border: none;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  color: var(--secondary-300);
  background-color: transparent;
  margin: 0;
  width: 9.375rem;
  margin-right: 0.3125rem;
  transition: .5s;
  border-bottom: transparent solid .1rem;
}

.searchbar:hover {
  border: none;
  border-bottom: var(--hr) solid .1rem;
  width: 14rem;
}

.searchbar:focus {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: var(--secondary-300) solid .1rem;
  width: 14rem;
}

.clearIcon {
  position: absolute;
  right: 1.375rem;
  height: 0.75rem;
}

.clearIcon:hover {
  cursor: pointer;
}

.searchbar::placeholder {
  color: var(--secondary-200);
}

.topActionsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8125rem 1.25rem;
}
