.searchbarContainer {
  display: flex;
  align-items: center;
}

.searchbarContainer img {
  width: 1.35rem;
}

.searchbar {
  border: transparent;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  color: #babdc2;
  margin: 0;
  width: 9.375rem;
  margin-right: 0.3125rem;
}

.searchbar:focus {
  outline: none;
  box-shadow: none;
}

.clearIcon {
  position: absolute;
  right: 1.375rem;
  height: 0.75rem;
}

.clearIcon:hover {
  cursor: pointer;
}

.searchbar::placeholder {
  color: #babdc2;
}

.topActionsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8125rem 1.25rem;
}
