.sidebarContainer {
  background-color: #eff3f6;
  width: 17.5rem;
  height: calc(100vh - 4.5rem);
  transition: 0.5s;
  overflow-y: auto;
  position: fixed;
  z-index: 2;
}

.sidebarContainerNx {
  width: 5.3125rem;
}

.sidebarContainer img:hover {
  cursor: pointer;
}

.sidebarContainer hr {
  background-color: #e8e6e8;
  opacity: 0.25;
  margin-top: 0;
}

.sidebarHeader {
  padding: 1.875rem;
}

.sidebarMenu {
  margin-top: 1.875rem;
}

.sidebarItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #363b59;
  padding: 1rem 1.375rem;
}

.sidebarItem:hover {
  background-color: #eaeaea;
}

.sidebarItem:hover p {
  color: #4558be;
  transition: 0.5s;
}

.sidebarItem:hover img {
  filter: brightness(0.6);
  transition: 0.5s;
}

.sidebarItem p {
  margin: 0 0 0 1.25rem;
}

.sidebarFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0;
}

.sidebarFooter .sidebarItem {
  margin: 1.25rem 0;
}