.tableContainer {
  margin: 1.25rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.3125rem var(--shadow);
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.fullWidthHeader {
  width: 100%;
}

th {
  background-color: var(--secondary);
  color: var(--main-text);
  padding: 1rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid var(--secondary-200);
}

td {
  padding: 1rem;
  border-bottom: 1px solid var(--hr);
  color: var(--main-text);
}

td p {
  margin: 0;
  padding: 0;
}

td img {
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

td .bookCover {
  border-radius: 0;
}

tr {
  background-color: var(--page-background);
  transition: .2s;
}

tr:hover {
  background-color: var(--secondary);
}

tr:last-child td {
  border-bottom: none;
}

.checkbox {
  margin: 0;
  padding: 0;
}

.userColumnData {
  display: flex;
  align-items: center;
}

.userColumnData p {
  font-weight: 500;
}

.table a {
  text-decoration: none;
  color: var(--main-text);
}

.table a:hover {
  color: var(--light-blue-highlight);
}

.noDataContainer {
  margin: 30px auto;
  text-align: center;
}

.noDataContainer img {
  width: 5rem;
}

.noDataContainer p {
  margin: 0;
}

.offLimit {
  background-color: var(--light-red);
  color: var(--dark-red);
  padding: 4px 6px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
} 
/* !! */

.statusContainer {
  color: var(--shadow-color);
  font-weight: bold;
  text-align: center;
  padding: 3px 6px;
  border-radius: 10px;
  font-size: 12px;
  width: 90px;
}

.statusContainer.Rezervisana {
  background-color: var(--light-yellow);
}

.statusContainer.Zatvorena {
  background-color: var(--light-yellow-2);
}
