.tableContainer {
  margin: 1.25rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.fullWidthHeader {
  width: 100%;
}

th {
  background-color: #eff3f6;
  padding: 1rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

td {
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
}

td p {
  margin: 0;
  padding: 0;
}

td img {
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

td .bookCover {
  border-radius: 0;
}

tr:hover {
  background-color: #e0e0e0;
}

tr:last-child td {
  border-bottom: none;
}

.checkbox {
  margin: 0;
  padding: 0;
}

.userColumnData {
  display: flex;
  align-items: center;
}

.userColumnData p {
  font-weight: 500;
}

.table a {
  text-decoration: none;
  color: #374151;
}

.table a:hover {
  color: #4558be;
}

.noDataContainer {
  margin: 30px auto;
  text-align: center;
}

.noDataContainer img {
  width: 5rem;
}

.noDataContainer p {
  margin: 0;
}

.offLimit {
  background-color: #fecaca;
  color: #991b1b;
  padding: 4px 6px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.statusContainer {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: center;
  padding: 3px 6px;
  border-radius: 10px;
  font-size: 12px;
  width: 90px;
}

.statusContainer.Rezervisana {
  background-color: #fde68a;
}

.statusContainer.Zatvorena {
  background-color: #e5e4e2;
}
