.tableContainer {
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
}

.fullWidthHeader {
  width: 100%;
}

th {
  background-color: #eff3f6;
  padding: 16px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

td {
  padding: 16px;
  border-bottom: 1px solid #dddddd;
}

td p {
  margin: 0;
  padding: 0;
}

td img {
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

td .bookCover {
  border-radius: 0;
}

tr:hover {
  background-color: #e0e0e0;
}

tr:last-child td {
  border-bottom: none; /* Remove bottom border from the last row */
}

.checkbox {
  margin: 0;
  padding: 0;
}

.userColumnData {
  display: flex;
  align-items: center;
}

.userColumnData p {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #374151;
}
