.linksContainer {
  padding: 1.25rem 1.875rem;
}

.linksContainer a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #6b7280;
  margin-right: 4.375rem;
}

.linksContainer a:hover {
  color: #4558be;
}

.tabContainer hr {
  opacity: 0.25;
  margin: 0;
}

.active {
  padding: 1.25rem 0;
  border-bottom: 3px solid #4558be;
  color: #4558be;
}

a.active {
  color: #4558be;
}
