.linksContainer {
  padding: 1.25rem 1.875rem;
}

.linksContainer a {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--secondary-300);
  margin-right: 4.375rem;
  transition: .2s;
}

.linksContainer a:hover {
  color: var(--light-blue-highlight-hover);
}

.tabContainer hr {
  opacity: 0.25;
  margin: 0;
}

.active {
  padding: 1.25rem 0;
  border-bottom: 3px solid var(--light-blue-highlight-hover);
  color: var(--light-blue-highlight-hover);
}

a.active {
  color: var(--light-blue-highlight-hover);
}
